
.toplevel {
    clear: both;
    display: flex;
    align-items: center;
    background-color:transparent !important;
}
.modal-dialog {
    position: absolute !important;
    top: 25%;
    width: 460px !important;
}
.modal {
    position: inherit !important;
    margin: 0 auto !important;
    background-color: transparent !important;
    width: 460px !important;
    height: 40% !important;
    opacity: 0.85 !important;

}

