
.toplevel {
    clear: both;
    display: flex;
    align-items: center;
    background-color:transparent !important;
}
.testmodal {
    position: absolute !important;
    margin: 0 auto !important;
    
}
.modal {
    position: inherit !important;
    margin: 0 auto !important;
    background-color: transparent !important;
}

