.project {
    border-bottom: .05rem solid black;
    font-size: .8rem;
}

.ProjectTable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    overflow-y: auto;
}

.projectList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    overflow-y: auto;
}

.ProjectHeader {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.projectheadertext {
    flex: 0 0 auto;
    font-size: 2rem;
}

.addbutton {
    flex: 0 0 33%;
    vertical-align: middle;
}

.projectPage {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    text-align: center;
    border: .1rem solid black;
}

.UploadPopup > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
    opacity: 100% !important;
  }
  
.UploadPopup > .actions {
    width: 100%;
    padding: 10px 5 px;
    margin: auto;
    text-align: center;
}

.Projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}