.ProjectPage {
    opacity: .9  !important;
    border: 1px black;
    background-color: aliceblue;
    overflow: hidden;
    width: 80%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 10%;
}