.Article {
    border-bottom: .05rem solid black;
    text-align: left;
    width: 100%;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

.TopRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.Title {
    font-size: 1rem;
    flex: 0 0 66%;
}

.why {
    flex: 0 0 33%;
}

.Author {
    font-size: .5rem;
    font-style: italic;

}

.Header {
    text-align: center;
    font-size: 2em;
    border-bottom: 2px solid black;

}

.Suggestionlist {
    list-style-type: none;
    flex: 1 1 auto;
    width: 100%;
    margin: 0;
    padding: 0;

}

.Results {
    flex: 1 1 66%;
    border: .05rem solid #ddd;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.UploadPopupHeader{
    text-align: center;
}