.filepond {
    width: 200px;
    padding-bottom: 20px;
    display:inline-block;
    padding-right: 5px;
}
.filepond2 {
    width: 200px;
    padding-left: 5px;
    padding-bottom: 20px;
    display:inline-block;
}
.static-modal {
    background:grey;
    width: 500px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
.modalTitle {
    padding-top: 20px;
}
html {
    background: white;
}