.App {
  text-align: center;
  /* font-family: museo-sans-rounded, sans-serif;
  font-weight: 700;
  font-size: 19px; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html {
  background: url('./blurry-book.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 

 


body {
  background: transparent !important;
}

