.filepond {
    width: 200px;
    padding-top: 10px;
    margin: 0 auto;
}
.button1 {
    padding-bottom: 20px;
    margin: 0 auto;
    padding-top: 20px;
}
.static-modal {
    background: rgba(112, 101, 101, 0.9);
    width: 500px;
    color: black;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    border: .05rem solid #ee7f2d;
}
.modalTitle {
    padding-top: 20px;
}
.App-body {
    background-color: transparent !important;
}
html {
    background: url('./background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  