/* .button {
    text-align: center;
}
 */

/* html {
    background: url('./blurry-book.jpg') no-repeat center center fixed;
} */
.modal {
    position: static !important;
}
.jumbotron {
    z-index: -1 !important;
    background-image: url('deeper-corrected.jpg') !important; 
    background-size: cover; 
    padding: 1rem 2rem !important;
    width: 100% !important;
    top: 0% !important;
    left: 0% !important;
    height: 95vh;
    opacity: 200 !important;
}
.toplevel {
    position: relative !important;
    top: 22% !important;
}

.nav-image{
    width: 40px !important ; 
}

.img-responsive {
    width: 57% !important;
}
.container-fluid{
    position: absolute !important;
    top: 92% !important;
    background-color: white;
    height: 100vh;
}

/* h3 {
    font-size: 55px !important;
    font-weight: 600 !important;
    background: -webkit-linear-gradient(#b92b27, #1565c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

} */
.jumbo-img {
    width: 10% !important;
}

.google-button {
    text-align: center;
    padding-top: 15px !important;
}
/* 
.nav-link {
    font-size: 41px !important;
    background: -webkit-linear-gradient(#b92b27, #1565c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 */
