/* .button {
    text-align: center;
}
 */

/* html {
    background: url('./blurry-book.jpg') no-repeat center center fixed;
} */
/* 
.jumbotron {
    background-image: url('./weird-robot.jpg') !important; 
    background-size: cover; 
    padding-right:0; 
    padding-left:0;
    height: 100vh;
}
 */
