.ProjectPage {
    opacity: .9  !important;
    border: solid;
    border-width: 1px; 
    border-color:black;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    width: 80%;
    min-height: 50%;
    max-height: 60%;
    position: fixed;
    top: 25%;
    left: 10%;
}