.ResultsPage {
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 90%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 5%;
    border-radius: 18px;
}